body{
    font-family: sans-serif;
    padding: 30px;
    background-color: rgb(250, 248, 248);
    color: #000000;
}

input {
    width: calc(100% - 22px); /* Ajuste para considerar a largura da borda */
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type="submit"] {
    width: 100%; /* Botão com largura total */
    background-color: #23d97e;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color:#fff;;
    color: #23d97e;;
}

.btn {
    padding: 10px 20px;
    background-color: #73eeb0;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, padding 0.3s ease; /* Adicionando a transição para o padding */
}

.btn:hover {
    background-color: #23d97e;
    padding: 12px 22px; /* Ajustando o padding ao passar o mouse */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}
ul {
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px;
    margin-bottom: 15px;
}
li {
    margin-bottom: 5px;
}
