* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    padding-top: 100px;
}

header {
    padding: 40px;
    background-color: #23d97e;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;

}

.nav {
    background-color: #23d97e;
}

.navbar {
    text-align: center;
    margin-top: 50px;

}

.navbar a {
    display: inline-block;
    margin: 0 15px;
    /* Espaçamento entre os links */
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #23d97e;
    /* Cor ao passar o mouse */
}

header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #23d97e;
    /* Cor de fundo da nav */
    padding: 10px 0;
    /* Espaçamento interno */
    z-index: 1000;
    /* Para garantir que a nav fique sempre acima dos outros elementos */

}

.logo {
    width: 50%;
    background-color: #23d97e;

}

.logo img {
    background-color: #23d97e;
}

.menu {
    padding-top: 30px;
    width: 50%;
    text-align: right;

}

.menu a {
    background-color: #23d97e;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    position: relative;
    text-decoration: none;
}

.menu a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #000;
    /* cor da linha */
    transition: all 0.3s ease;
    /* transição suave */
    transform: scaleX(0);
    /* esconde a linha inicialmente */
}

.menu a:hover::after {
    transform: scaleX(1);
    /* exibe a linha quando o mouse passa sobre o link */
}

.texto {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
    width: 700px;
}

h1 {
    padding-bottom: 40px;
    color: #00af00;
    font-size: 50px;
}

.imagem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width:800px;
    max-width: 100%x;
}

h4 {
    
    color: #00af00;
    padding: 5px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.lista {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none
}

.verde {
    color: #23d97e;
    font-size: 50px;
}

p {
    font-size: 20px;
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);

}


.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;

}

#footer_contacts h1 {
    margin-bottom: 0.75rem;

}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;

}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}



#instagram {
    background: linear-gradient(#7f37c9, #ff2992 #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}


.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;

}

.footer-list .footer-link {
    color: var(--color-neutral-30);

}

.footer-list .footer-link:hover {
    color: #7f37c9;
    transition: all 0.4s;

}

#footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

#footer-subscribe p {
    color: var(--color-neutral-30);
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;

}

li{
    list-style: none;
    margin: 10px;
}

img {
    border-radius: 20px;
}

.imagem {
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
}

.imagem img {
    max-width: 100%; /* Define a largura máxima da imagem como 100% do contêiner pai */
    height: auto; /* Garante que a altura da imagem seja ajustada automaticamente para manter a proporção */
    width: 80%; /* Define a largura da imagem como 80% do contêiner pai */
}
.texto {
    max-width: 100%; /* Define a largura máxima do texto como 100% do contêiner pai */
}

span{
    background-color: #23d97e;
}

@media screen and (max-width: 768px) {
    .imagem img {
        width: 90%; /* Ajusta o tamanho da imagem para dispositivos menores */
    }
    
    .menu {
        text-align: center; /* Centraliza os elementos do menu */
    }

    .menu a {
        display: block; /* Exibe os elementos do menu como blocos */
        margin-bottom: 10px; /* Adiciona espaçamento entre os elementos do menu */
    }

    .navbar {
        text-align: center; /* Centraliza os elementos da navbar */
    }

    .navbar a {
        display: block; /* Exibe os elementos da navbar como blocos */
        margin-bottom: 10px; /* Adiciona espaçamento entre os elementos da navbar */
    }

    .logo {
        width: 100%; /* Define a largura da logo para ocupar toda a largura do contêiner */
        text-align: center; /* Centraliza a logo */
        margin-bottom: 20px; /* Adiciona espaço abaixo da logo */
    }

    .logo img {
        width: 50%; /* Ajusta o tamanho da imagem da logo conforme necessário */
    }

    .texto {
        font-size: 16px; /* Ajusta o tamanho do texto para dispositivos menores */
    }
}