body {
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.preta {
    flex: 1;
    background-color: rgb(194, 240, 244);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.preta img {
    max-width: 100%;
    max-height: 100%;
}

.azul {
    flex: 1;
    background-color: #23d97e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 20px;
    border-radius: 1%;
}

.azul .titulo {
    font-size: 4vw;
    margin-bottom: 20px;
}

.azul p {
    margin: 2vw;
    max-width: 90%;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    background-color: rgb(194, 240, 244);
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, padding 0.3s ease; /* Adicionando a transição para o padding */
}

.btn:hover {
    background-color: #fcfcfc;
    padding: 12px 22px; /* Ajustando o padding ao passar o mouse */
}

/* Media query para telas pequenas */
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column; /* Mudança para coluna em telas pequenas */
    }
    .preta {
        order: 2; /* Inverte a ordem da div "preta" para aparecer abaixo em telas pequenas */
    }
}
