body{
    font-family: sans-serif;
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    height: 100vh;
}
.preta {
    flex: 1;
    background-color: rgb(0, 0, 95);
    align-items: center;
    justify-content: center;
}

.azul {
    display: flex;
    background-color: #009CFD;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Adiciona esta linha para organizar os elementos em coluna */
    color: white;
}
.azul .titulo {
    margin-bottom: 20px; /* Adiciona espaçamento abaixo do título */
}


.titulo{
    font-size: 50px;
}

.btn{
    background-color: blue;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: aliceblue;
    border-radius: 10px;
}

.btn:hover{
    background-color: antiquewhite;
    color: blue
}